<!DOCTYPE html>
<html lang="ru">
<head>
  {% block title %}<title>Forum</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Whitesquare</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
</head>

<body>
    <div id="wrapper">
        <nav>
            <ul class="top-menu">
                <li><a href="{% url 'home' %}">HOME</a></li>
            </ul>
        </nav>
		<aside>
            <nav>
                {% block sidebar %}
                <ul class="aside-menu">
                </ul>
                {% if user.is_authenticated %}
                <hr>
                <li><font color="green">Пользователь:</font> {{ user.get_username }}</li>

                {% if user.profile %}
                <li><a href="{% url 'user_profile' user.profile.id %}">Профиль</a></li>
                {% else %}
                <li><a href="{% url 'create_user_profile' %}">Создать профиль</a></li>
                {% endif %}

                <li><a href="{% url 'my_posts' %}">Мои посты</a></li>

                <li><a href="{% url 'logout'%}?next={% url 'home' %}"><font color="red">Выйти</font></a></li>

                {% if user.profile %}
                <hr>
                <li><a href="{% url 'user_friend_requests'%}">Заявки</a></li>
                <hr>
                <li><a href="{% url 'friends'%}">Друзья</a></li>
                <li><a href="{% url 'all_users'%}">Все пользователи</a></li>
                {% endif %}

                {% if user.is_staff %}
                <hr>
                staff
                {% endif %}
                {% else %}
                <li><a href="{% url 'login'%}?next={{request.path}}">Войти</a></li>
                {% endif %}
                {% endblock %}
            </nav>
        </aside>

		<section>
        <div class="container-fluid" style="min-height: 350px">
            <div class="row">
            <div class="col-sm-2">

            </div>
                <div class="col-sm-10 ">
                    {% block content %}{% endblock %}

                    {% block pagination %}
                    {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">назад</a>
                            {% endif %}
                            <span class="page-current">
                                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">вперед</a>
                            {% endif %}
                        </span>
                    </div>
                    {% endif %}
                    {% endblock %}
                </div>
            </div>
        </div>
        </section>
    </div>
    <footer class="text-center text-lg-start bg-light text-muted navbar-fixed-bottom">
      <!-- Section: Links  -->
        <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.05);">
            <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>ABOUT
                        </h6>
                        <p>
                            Меня зовут Артем Завгороднев, я студент 1 курса ДВФУ, Прикладная математика и информатика. И этот сайт - моё домашнее задание.
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3"></i> Russia, VL</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            zavgorodnev.artem@gmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> +7 (999) 05-70-617</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- Footer -->
</body>
</html>

