{% extends "forum/base.html" %}

{% block title %}
<title>Create Post</title>
{% endblock %}

{% block content %}
    <div class="header-bar">
        <h1>Редактирование поста</h1><br><br>
    </div>
    {% if request.user.is_authenticated %}
        <div class="card-body">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">Изменить</button>
        </form>
        </div>
    {% else %}
    <a href="{% url 'login' %}" class="green">Login</a>
{% endif %}
{% endblock content %}