{% extends "forum/base.html" %}

{% block title %}
<title>Пользователи</title>
{% endblock %}

{% load static %}
{% block content %}
    <h1>Список пользователей</h1><br><br>
    <form action="{% url 'all_users' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
    <br>
    {% if profile_list %}
    <ul class="list-group">
      {% for profile in profile_list %}
        <ul class="list-group-item">
            <h3>
        {% if profile.profile_pic %}
          <img src="{{ profile.avatar_thumbnail.url }}" height=40 width=40 class="round" alt="">
        {% else %}
          <img src="{% static 'media/images/profile/user.png' %}" height=30 width=30 class="round" alt="">
        {% endif %}
                </h3>
        <h2><a href="{% url 'user_profile' profile.id %}" class="no-decoration">{{profile.first_name}} {{profile.last_name}}</a></h2>
        </ul>
        {% endfor %}
    </ul>
    {% else %}
      <p>Пользователей нет</p>
    {% endif %}
{% endblock content %}